<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BartlebyUIIOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>BartlebysUI iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>BartlebysUI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E530939B1E4B27E80068D7EC</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>E53093A31E4B27E80068D7EC</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>E530946D1E4B50300068D7EC</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>E53094751E4B50300068D7EC</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>E5FAC51F1DF95B1C00398C95</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>E5FAC5281DF95B1D00398C95</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
	</dict>
</dict>
</plist>
